$button-import: #bdcd00;
$button-primary: #bdcd00;
$column-background: #2372b9;
$default-font: Arial, Helvetica, sans-serif;
$footer-background: #f3f6f9;
$footer-links: #000000;
$header-background: #000000;
$header-links: #ffffff;
$header-tabs: #FABA00;
$link: #0084C3;
$link-hover: #00a6f5;
$page-background: #f3f6f9;
$tabs-horizontal-color: #ffffff;
$tabs-vertical-color: #eee;
